* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */
  /* color: {COLORS.white}; */
}
